<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Connaught</ion-title>
    <ion-button slot ="start">
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Connaught</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/300px-Flag_of_Connacht.svg.png">
  <h1>Connaught counties</h1>
  <ul>
    <li>Galway</li>
    <li>Roscommon</li>
    <li>Sligo</li>
    <li>Mayo</li>
  </ul>
</ion-content>
